.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1 a{
    color: blueviolet;
    font-size: 40px;
    margin: 0px;
    text-decoration: none;
}
.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.nav li{
    padding-left: 15px;
    padding-top: 15px;
}
.nav li a{
    text-decoration: none;
    color: blueviolet;
}
.nav .nav-search{
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.nav .nav-search input{
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav .nav-search button{
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-left: 0px;
}
.search-button{
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav-right{
    margin-top: 30px;
    margin-bottom: 30px;
}
.search-result{
    position: absolute;
    top: 85px;
    display: list-item;
    z-index: 10;
    flex-direction: column;
    width: 717.750px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.search-list{
    cursor: pointer;
}